<% if (show.new == 'true') { %>
<p id="success-msg">Book successfully added!</p>
<% } %>
<%- include('header', {pageTitle: book.title}); %>
<span id="author">By:
  <%= book.author %></span>
<div id="book-container">
  <div class="book-left">
    <img id="book-img" src="<%= book.image_url %>">
    <span id="ISBN">ISBN:
      <%= book.isbn %></span>
  </div>
  <div class="book-right">
    <span class="desc">
      <%= book.description %></span>
  </div>
</div>