<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body>
  <%- include('partials/header', {pageTitle: 'All Our Books!'}) %>
  <ul>
    <% books.forEach( book => {  %>
    <div class="books">
      <li class="book-li">
        <span id="title">Title:
          <%= book.title %></span>
        <span id="author">Author:
          <%= book.author %></span>
        <img id="book-img" src="<%= book.image_url %>">
        <a href="/books/<%= book.id %>">
          View Details --></a>
      </li>
    </div>
    <% }) %>
  </ul>
  <p id="book-ct">Book Count:
    <%= books.length %>
  </p>
  <%- include('partials/footer') %>
</body>
</html>