<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body>
  <%- include('partials/header', {pageTitle: 'All Our Books!'}) %>
  <ul>
    <% books.forEach( book => {  %>
    <li class="book-li">
      <a href="/books/<%= book.id %>">
        <span id="title">Title:
          <%= book.title %></span>
      </a>
      <span id="author">Author:
        <%= book.author %></span>
      <img id="book-img" src="<%= book.image_url %>">
    </li>
    <% }) %>
  </ul>
  <p id="book-ct">Book Count:
    <%= books.length %>
  </p>
</body>

</html>