<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body>
  <%- include('partials/header', {pageTitle: book.title}); %>
  <span id="author">By:
    <%= book.author %></span>
  <div>
    <img id="book-img" src="<%= book.image_url %>">
    <span id="ISBN">ISBN:
      <%= book.isbn %></span>
    <span>
      <%= book.description %></span>
  </div>

  <%- include('partials/footer') %>
</body>

</html>